.App {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600!important;
}
.container h2 {
  padding-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.map {
  border: 1px solid #333;
}
