.container-fluid {
    --bs-gutter-x: 0!important;
}
.testimonial {
    min-height: 400px; 
    background: url(../images/parallex-bg.jpg) center center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial h3 {
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    position: relative;
    top: 50px;
    padding: 10px;
    text-shadow: 0 0 20px #333;
}
.testimonial .two {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 30px #000;
    position: relative;
    top: 100px;
}
